html {
  width: 100%;
  height: 100%;
}

.app {
     /* Add app styles here */
}

.rotate-parent {
  width: 50px;
  min-height: 250px;
}

.rotate {
  margin: auto 0;
  text-align: right;
  width: 300px;
  position: absolute;
  top: 180px;
  right: -130px;
  /*left: -123px;*/
  font-size: 16px;

     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; /* IE8 */
}

.rotate-ie {
  right: 0px;
  left: 15px;
  top: 50px;
}

.card {
  text-align: center;
  border: solid 1px #999;
  margin: 5px;
  padding: 5px;
  font-size: 12px;
}

.card p {
  text-align: center;
}

.initiative {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px 000;
  width: 99%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  font-width: bold;
}

.initiative p {
  text-align: left;
}

.story {
  width: 150px;
}

/*
.story.state-defined {
  background-color: #F5F5F5 !important;
}

.story.state-in-progress {
  background-color: #FCF8E3 !important;
}

.story.state-completed, .story.state-accepted {
  background-color: #bff0b8 !important;
}
.story.state-released {
  background-color: #D0D7FD !important;
}
*/

.story.blocked {
  border: solid 2px red;
}

.header {
  text-align: center;
  height: auto;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 18px;
}

.header .info {
  font-size: 12px
}

.story > .iteration-status {
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 10px;
  height: 10px;
}
.story > .iteration-status-planned {
  background-color: yellow;
}
.story > .iteration-status-active {
  background-color: green;
}
.story > .iteration-status-late {
  background-color: red;
}
.story > .iteration-status-unplanned {
  background-color: grey;
}

.story.pred {
  background: 
    url(data:image/gif;base64,R0lGODlhEAAQAOYAAP//////AP8A//8AAAD//wD/AAAA/wAAACdnoj+Bvnqt3KvT99Lp//X13NfXyd3d0NjYy8nJwMrKwsnJwdDQyMrKw5KRfs3Mt/Tz29LRvNHQu8zLt769qv385Ly7qfz75NrZxcnItsbFs7++re3s1+zr1sXEs7i3p7Gwoa6tnszLusrJuL++ru3s2eno1YOCdN3c0JCOfdnXxMfGvM3MwsrJv+zr4ezr4sjHv8bFvcrJwtXUzdXUznd0Zc7NyIWCdWNfUF9aS2FcTl9ZSlNOQkM+MzQuIoyJg0Q+MzYvI8zKx0M8M1hSSndybEQ9NVhSS3ZxbIuGgcnHxYeCfv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAFQALAAAAAAQABAAAAeigFRUCwmChoeHhAgMjI2IgwkIkpMJCgyPio2Oj5CcnlJHoVKgooigFDAUoaiqUodHPi43JSkpJDcuqodQPCwnKzg5KicjO1C7EhgdLTUzLR0YE8eGUBUmITI0ESAhIjrTglAwyi0oKS0fDQ/gVEQ3GRscPy8eFxo2RIdEEBY9QEVIhPSI4SCfISJBkixhMiXKEydGhhgMB6XJKEFSlDSBMi0QADs=)
    no-repeat
    left bottom;
}

.story.pred_open {
  background: 
    url(data:image/gif;base64,R0lGODlhEAAQAOYAAP//////AP8A//8AAAD//wD/AAAA/wAAAPX13NfXyd3d0NjYy8nJwMrKwsnJwdDQyMrKw5KRfs3Mt/Tz29LRvNHQu8zLt769qv385Ly7qfz75NrZxcnItsbFs7++re3s1+zr1sXEs7i3p7Gwoa6tnszLusrJuL++ru3s2eno1YOCdN3c0JCOfdnXxMfGvM3MwsrJv+zr4ezr4sjHv8bFvcrJwtXUzdXUznd0Zc7NyIWCdWNfUF9aS2FcTl9ZSlNOQkM+MzQuIoyJg0Q+MzYvI8zKx0M8M1hSSndybEQ9NVhSS3ZxbIuGgcnHxYeCfvq4r/zm4+Y2H/V0Y//W0f///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAFQALAAAAAAQABAAAAekgFRUU1KChoeHhFFTjIxQiINSUZOUUk+PiIqNjpCChJ2gTUKjTaKkiKIPKw+jqqxNh0I5KTIgJCQfMimsh0s3JyImMzQlIh42S70NExgoMC4oGBMOyYZLECEcLS8MGxwdNdWCSyvMKCMkKBoICuJUPzIUFhc6KhkSFTE/hz8LETg7gAzpgYNFgn2GfvAgYuSIEyZKkgTxgXDcEiSlBDUpgmRJtUAAOw==)
    no-repeat
    left bottom;
}

.story.succ {
  background: 
    url(data:image/gif;base64,R0lGODlhEAAQAOYAAP//////AP8A//8AAAD//wD/AAAA/wAAACdnoj+Bvnqt3KvT99Lp//X13NfXyd3d0NjYy8nJwMrKwsnJwdDQyMrKw5KRfs3Mt/Tz29LRvNHQu8zLt769qv385Ly7qfz75NrZxcnItsbFs7++re3s1+zr1sXEs7i3p7Gwoa6tnszLusrJuL++ru3s2eno1YOCdN3c0JCOfdnXxMfGvM3MwsrJv+zr4ezr4sjHv8bFvcrJwtXUzdXUznd0Zc7NyIWCdWNfUF9aS2FcTl9ZSlNOQkM+MzQuIoyJg0Q+MzYvI8zKx0M8M1hSSndybEQ9NVhSS3ZxbIuGgcnHxYeCfv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAFQALAAAAAAQABAAAAehgFSCg4SCCQuFgwyLjAiHiQwKCQiUlY+FjI2XiYWbglJHoVKgooWgFDAUoaiqUoRHPi43JSkpJDcuqoRQPCwnKzg5KicjO1C7EhgdLTUzLR0YE8eDUBUmITI0ESAhIjrTglAwyi0oKS0fDQ/gVEQ3GRscPy8eFxo2RIREEBY9QEVIhPSI4SDfICJBkixhMiXKEydGhhgMB6XJqE9KmkCZFggAOw==)
    no-repeat
    left bottom;
}

.story.pred_open_succ {
  background: 
    url(data:image/gif;base64,R0lGODlhEAAQAOYAAP//////AP8A//8AAAD//wD/AAAA/wAAACdnoj+BvqvT99Lp//X13NfXyd3d0NjYy8nJwMrKwsnJwdDQyMrKw5KRfs3Mt/Tz29LRvNHQu8zLt769qv385Ly7qfz75NrZxcnItsbFs7++re3s1+zr1sXEs7i3p7Gwoa6tnszLusrJuL++ru3s2eno1YOCdN3c0JCOfdnXxMfGvM3MwsrJv+zr4ezr4sjHv8bFvcrJwtXUzdXUznd0Zc7NyIWCdWNfUF9aS2FcTl9ZSlNOQkM+MzQuIoyJg0Q+MzYvI8zKx0M8M1hSSndybEQ9NVhSS3ZxbIuGgcnHxYeCfuY2H/V0Y//W0f///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAFYALAAAAAAQABAAAAevgFZWVVSChoYJCoaEU1WOVQuRCwiJg1RTmJkIm5yVjI+QkpSKgoSHh5WHUUasUautp6sTLxOss7VRh0Y9LTYkKCgjNi21h087KyYqNzgpJiI6T8YRFxwsNDIsHBcS0oZPFCUgMTMQHyAhOd6CTy/VLCcoLB4MDutWQzYYGhs+Lh0WMtQYcmjIgwo8fhA5EoQHjAYEDQ0BgkTJEilQnDQpIiQiuydMXAmKkoTJE2+BAAA7)
    no-repeat
    left bottom;
}

.story.pred_succ {
  background: 
    url(data:image/gif;base64,R0lGODlhEAAQAOYAAP//////AP8A//8AAAD//wD/AAAA/wAAACdnoj+BvqvT99Lp//X13NfXyd3d0NjYy8nJwMrKwsnJwdDQyMrKw5KRfs3Mt/Tz29LRvNHQu8zLt769qv385Ly7qfz75NrZxcnItsbFs7++re3s1+zr1sXEs7i3p7Gwoa6tnszLusrJuL++ru3s2eno1YOCdN3c0JCOfdnXxMfGvM3MwsrJv+zr4ezr4sjHv8bFvcrJwtXUzdXUznd0Zc7NyIWCdWNfUF9aS2FcTl9ZSlNOQkM+MzQuIoyJg0Q+MzYvI8zKx0M8M1hSSndybEQ9NVhSS3ZxbIuGgcnHxYeCfv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAFMALAAAAAAQABAAAAeqgFNTCgmChoYJCoaECAuOj44IiYMJCJaXmJaTjJCQkoqChIeHk4dRRqhRp6mjpxMvE6ivsVGHRj0tNiQoKCM2LbGHTzsrJio3OCkmIjpPwhEXHCw0MiwcFxLOhk8UJSAxMxAfICE52oJPL9EsJygsHgwO51NDNhgaGz4uHRYZNUOHhjyowOMHkSNBeMBoANDQECBIlCyRAsVJkyJCGqJ7wkSVoChJmDzRFggAOw==)
    no-repeat
    left bottom;
}

/*Need Icon*/
.story.pred_succ_need {
  background: 
    url(data:image/gif;base64,R0lGODlhEAAQAOYAAP//////AP8A//8AAAD//wD/AAAA/wAAACdnoj+BvqvT99Lp//X13NfXyd3d0NjYy8nJwMrKwsnJwdDQyMrKw5KRfs3Mt/Tz29LRvNHQu8zLt769qv385Ly7qfz75NrZxcnItsbFs7++re3s1+zr1sXEs7i3p7Gwoa6tnszLusrJuL++ru3s2eno1YOCdN3c0JCOfdnXxMfGvM3MwsrJv+zr4ezr4sjHv8bFvcrJwtXUzdXUznd0Zc7NyIWCdWNfUF9aS2FcTl9ZSlNOQkM+MzQuIoyJg0Q+MzYvI8zKx0M8M1hSSndybEQ9NVhSS3ZxbIuGgcnHxYeCfv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAFMALAAAAAAQABAAAAeqgFNTCgmChoYJCoaECAuOj44IiYMJCJaXmJaTjJCQkoqChIeHk4dRRqhRp6mjpxMvE6ivsVGHRj0tNiQoKCM2LbGHTzsrJio3OCkmIjpPwhEXHCw0MiwcFxLOhk8UJSAxMxAfICE52oJPL9EsJygsHgwO51NDNhgaGz4uHRYZNUOHhjyowOMHkSNBeMBoANDQECBIlCyRAsVJkyJCGqJ7wkSVoChJmDzRFggAOw==)
    no-repeat
    left bottom;
}

/*Need Icon*/
.story.pred_open_succ_need {
  background: 
    url(data:image/gif;base64,R0lGODlhEAAQAOYAAP//////AP8A//8AAAD//wD/AAAA/wAAACdnoj+BvqvT99Lp//X13NfXyd3d0NjYy8nJwMrKwsnJwdDQyMrKw5KRfs3Mt/Tz29LRvNHQu8zLt769qv385Ly7qfz75NrZxcnItsbFs7++re3s1+zr1sXEs7i3p7Gwoa6tnszLusrJuL++ru3s2eno1YOCdN3c0JCOfdnXxMfGvM3MwsrJv+zr4ezr4sjHv8bFvcrJwtXUzdXUznd0Zc7NyIWCdWNfUF9aS2FcTl9ZSlNOQkM+MzQuIoyJg0Q+MzYvI8zKx0M8M1hSSndybEQ9NVhSS3ZxbIuGgcnHxYeCfv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAFMALAAAAAAQABAAAAeqgFNTCgmChoYJCoaECAuOj44IiYMJCJaXmJaTjJCQkoqChIeHk4dRRqhRp6mjpxMvE6ivsVGHRj0tNiQoKCM2LbGHTzsrJio3OCkmIjpPwhEXHCw0MiwcFxLOhk8UJSAxMxAfICE52oJPL9EsJygsHgwO51NDNhgaGz4uHRYZNUOHhjyowOMHkSNBeMBoANDQECBIlCyRAsVJkyJCGqJ7wkSVoChJmDzRFggAOw==)
    no-repeat
    left bottom;
}
