.app {
     /* Add app styles here */
}

.rotate-parent {
  width: 50px;
}

.rotate {
  margin: auto 0;
  width: 300px;
  position: absolute;
  top: 20px;
  left: -123px;
  font-size: 16px;

     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=3);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; /* IE8 */
}

.card {
  text-align: center;
  border: solid 1px #999;
  margin: 5px;
  padding: 5px;
  font-size: 12px;
}

.card p {
  text-align: center;
}

.initiative {
  border: none;
  border-bottom: solid 1px 000;
  width: 99%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  font-width: bold;
}

.initiative p {
  text-align: left;
}

.story {
  width: 150px;
}

.story.state-completed {
  background-color: #dff0d8 !important;

}

.story.state-in-progress {
  background-color: #FCF8E3 !important;
}

.story.state-defined {
  background-color: #F5F5F5 !important;
}

.story.state-accepted {
  background-color: #F0F7FD !important;
}

.story.blocked {
  border: solid 2px red;
}

.header {
  text-align: center;
  height: auto;
}

.header h1 {
  font-size: 18px;
}

.header .info {
  font-size: 12px
}
